<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>😞</string>
		<key>shortcut</key>
		<string>:((</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😐</string>
		<key>shortcut</key>
		<string>:|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😡</string>
		<key>shortcut</key>
		<string>&gt;:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙃</string>
		<key>shortcut</key>
		<string>||</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>אילאיל</string>
		<key>shortcut</key>
		<string>אא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍🏻</string>
		<key>shortcut</key>
		<string>אויכן</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍🏻👎🏻</string>
		<key>shortcut</key>
		<string>אוילא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>אפלוגו</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>באילאיל</string>
		<key>shortcut</key>
		<string>באא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ואילאיל</string>
		<key>shortcut</key>
		<string>ואא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>זה נכון 👍🏻</string>
		<key>shortcut</key>
		<string>זהנ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>לאילאיל</string>
		<key>shortcut</key>
		<string>לאא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>לבא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💖</string>
		<key>shortcut</key>
		<string>לבו</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💚</string>
		<key>shortcut</key>
		<string>לבי</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💙</string>
		<key>shortcut</key>
		<string>לבכ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🧡</string>
		<key>shortcut</key>
		<string>לבכת</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💜</string>
		<key>shortcut</key>
		<string>לבס</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💛</string>
		<key>shortcut</key>
		<string>לבצ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🖤</string>
		<key>shortcut</key>
		<string>לבש</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>מאילאיל</string>
		<key>shortcut</key>
		<string>מאא</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😘</string>
		<key>shortcut</key>
		<string>מואאה</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😗</string>
		<key>shortcut</key>
		<string>מואה</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😗😘</string>
		<key>shortcut</key>
		<string>מואות</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>שאילאיל</string>
		<key>shortcut</key>
		<string>שאא</string>
	</dict>
</array>
</plist>
